.kotlin
build/
!**/src/main/**/build/
!**/src/test/**/build/

# The direct compiler build consumes the installed dependency libraries.
# Keep these inputs available; all other files under the root build folder
# (including direct/lib, staging, argument files and logs) remain generated.
!/build/
/build/*
!/build/install/
/build/install/*
!/build/install/rsprox/
/build/install/rsprox/*
!/build/install/rsprox/lib/

### IntelliJ IDEA ###
/.idea/*
!/.idea/fileTemplates/*
!/.idea/dictionaries/*
!/.idea/icon.png
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
