/*
symbols/.local/
!gamevals/
!gamevals-binary/
!raw-cache/
!cache/
!symbols/
!osrs-dumps/
!.gitignore
!test-accounts/

cache/*
!cache/LIVE/
!cache/SERVER/

gamevals-binary/*
!gamevals-binary/max-ids.toml

osrs-dumps/*
!osrs-dumps/dump.npc
